<p id="notice"><%= notice %></p>
<div class="container">

<h1>Watch Movies Lists</h1>
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to  list.name, list_path(list) %></li>
    <% end %>
  </ul>
<br>

</div>