<p id="notice"><%= notice %></p>
<div class="container">

<h1>Watch Movies Lists</h1>
<div class="cards">
    <% @lists.each do |list| %>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_path(list.photo.key)">
    <%= link_to  list.name, list_path(list) %>
   </div>
    <% end %>
</div>


</div>
